* {
	box-sizing: border-box;
}

html {
	width: 15rem;
	border: 1px solid #f1f3f4;
}

button {
	width: 100%;
	margin-top: 0.5em;
	padding: 0.25em;
	display: block;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

h2,
h3 {
	margin-bottom: 0.5em;
	font-weight: 400;
}
