name: build

on: [push]

env:
  FORCE_COLOR: 3

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14.15.0'
      - run: npm ci
      - run: npm run prettier
      - run: npm run typecheck
      - run: npm run eslint
      - run: npm run build
      # Upload a build for this branch to download and test
      - run: zip -r svg-screenshots-chrome.zip dist
      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: svg-screenshots-chrome
          path: svg-screenshots-chrome.zip
      # Release to Chrome store on release branch
      - name: release
        if: github.ref == 'refs/heads/release'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          GOOGLE_REFRESH_TOKEN: ${{ secrets.GOOGLE_REFRESH_TOKEN }}
        run: npm run semantic-release
